<?xml version="1.0"?>
<config>
    <modules>
        <Pixlogix_Flexibleblog>
            <version>0.1.0</version>
        </Pixlogix_Flexibleblog>
    </modules>
    <frontend>
        <routers>
            <flexibleblog>
                <use>standard</use>
                <args>
                    <module>Pixlogix_Flexibleblog</module>
                    <frontName>blog</frontName>
                </args>
            </flexibleblog>
        </routers>
        <layout>
            <updates>
                <flexibleblog>
                    <file>flexibleblog/blog.xml</file>
                </flexibleblog>
            </updates>
        </layout>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <pixlogix_flexibleblog_model_observer>
                        <type>singleton</type>
                        <class>Pixlogix_Flexibleblog_Model_Observer</class>
                        <method>addNewLayout</method>
                    </pixlogix_flexibleblog_model_observer>
                </observers>
            </controller_action_layout_generate_xml_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <flexibleblog before="Mage_Adminhtml">Pixlogix_Flexibleblog_Adminhtml</flexibleblog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <flexibleblog>
                    <file>flexibleblog.xml</file>
                </flexibleblog>
            </updates>
        </layout>
    </adminhtml>
    <global>
         <models>
            <flexibleblog>
                <class>Pixlogix_Flexibleblog_Model</class>
                <resourceModel>flexibleblog_mysql4</resourceModel>
            </flexibleblog>
            <flexibleblog_mysql4>
                <class>Pixlogix_Flexibleblog_Model_Mysql4</class>
                <entities>
                    <post>
                        <table>flexibleblog_post</table>
                    </post>
                    <category>
                        <table>flexibleblog_category</table>
                    </category>
                    <comment>
                        <table>flexibleblog_comment</table>
                    </comment>
                    <tag>
                        <table>flexibleblog_tag</table>
                    </tag>
                    <author>
                        <table>flexibleblog_author</table>
                    </author>
                </entities>
            </flexibleblog_mysql4>
        </models>
        <resources>
            <flexibleblog_setup>
                <setup>
                    <module>Pixlogix_Flexibleblog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </flexibleblog_setup>
            <flexibleblog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </flexibleblog_write>
            <flexibleblog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </flexibleblog_read>
        </resources>
        <blocks>
            <flexibleblog>
                <class>Pixlogix_Flexibleblog_Block</class>
            </flexibleblog>
            <page>
                <rewrite></rewrite>
            </page>
        </blocks>
        <helpers>
            <flexibleblog>
                <class>Pixlogix_Flexibleblog_Helper</class>
            </flexibleblog>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <flexibleblog>
                        <class>Pixlogix_Flexibleblog_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </flexibleblog>
                </observers>
            </controller_front_init_routers>
            <controller_action_predispatch>
                <observers>
                    <blog>
                        <type>singleton</type>
                        <class>flexibleblog/observer</class>
                        <method>rewritesEnable</method>
                    </blog>
                </observers>
            </controller_action_predispatch>
        </events>
        <template>
            <email>
                <flexibleblog_options_comments_admin_email_template>
                    <label>Flexibleblog Comment Email</label>
                    <file>flexibleblog/flexibleblog_comment.html</file>
                    <type>html</type>
                </flexibleblog_options_comments_admin_email_template>
            </email>
        </template>
    </global>
    <default>
        <flexibleblog_options>
            <general>
                <enable>1</enable>
                <enable_jquery>1</enable_jquery>
                <enable_top_link>1</enable_top_link>
                <enable_footer_link>1</enable_footer_link>
                <blog_page_layout>two_columns_right</blog_page_layout>
            </general>
            <sidebar>
                <search>1</search>
                <search_position>right</search_position>
                <categories>1</categories>
                <categories_position>right</categories_position>
                <archives>1</archives>
                <archives_position>right</archives_position>
                <recent_posts>1</recent_posts>
                <recent_posts_position>right</recent_posts_position>
                <recent_comments>1</recent_comments>
                <recent_comments_position>right</recent_comments_position>
                <tag_cloud>1</tag_cloud>
                <tag_cloud_position>right</tag_cloud_position>
            </sidebar>
            <comments>
                <enable>1</enable>
                <admin_email_template>flexibleblog_options_comments_admin_email_template</admin_email_template>
                <enable_loggedin_users>0</enable_loggedin_users>
                <enable_auto_approve>0</enable_auto_approve>
            </comments>
        </flexibleblog_options>
    </default>
</config>